<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            var host = '{{config.host}}';
            var messages = io.connect(host + '/messages');
            var roomNum = '{{room_number}}';
            var userName = '{{user.fullname}}';
            var userPic = '{{user.profilePic}}';

            messages.on('connect', function () {
                console.log('Connection Established!');
                messages.emit('joinroom', { room: roomNum, user: $('#user').text(), userPic: $('#userImage').text() });
            })

            $(document).on('keyup', '.newmessage', function (e) {
                if (e.which === 13 && $(this).val() != '') {
                    messages.emit('newMessage', {
                        room_number: roomNum,
                        user: userName,
                        userPic: userPic,
                        message: $(this).val()
                    })
                    updateMessageFeed(userPic, $(this).val());
                    $(this).val('');
                }
            })

            messages.on('messagefeed', function (data) {
                console.log('message aaya');
                var msgs = JSON.parse(data);
                updateMessageFeed(msgs.userPic, msgs.message);
            })

            function updateMessageFeed(userPic, message) {
                var str = '<li>';
                str = str + '<div class="msgbox">';
                str = str + '<div class="pic"><img src="' + userPic + '">&nbsp&nbsp<strong>'+message +'</strong></div>';
                str = str + '</div>';
                str = str + '</li><br>';
                $(str).hide().appendTo($('.messages')).slideDown(100);
            }

            messages.on('updateUsersList', function (data) {
                var userlist = JSON.parse(data);
                $('.usersAll').html(' ');
                for (var i = 0; i < userlist.length; i++) {
                    var str = '<li><img src="' + userlist[i].image + '"><strong>' + userlist[i].name + '</strong></li><br>';
                    $(str).prependTo($('.usersAll'));
                }
            })

            setInterval(function () {
                messages.emit('updateList', { room: roomNum });
            }, 1000)
        })
    </script>
</head>

<body>
    <div class="container-fluid">
        <h2>Welcome, <strong id="user">{{user.fullName}}</strong><strong id="userImage"
                style="display: none;">{{user.profilePic}}</strong></h2>

        <img src="{{user.profilePic}}" class="userPic">
        <a href="/logout">Logout | </a>
        <a href="/chatrooms">More ChatRooms</a>
        <br>
        <h1 style="color: rgb(57, 179, 33);">Topic: {{room_name}} {{room_number}} </h1>
        <h1 style="color: rgb(128, 78, 185);">Room Number: {{room_number}} </h1>
        <div class="row">
            <div class="message col-md-8">
                <ul class="messages">

                </ul>
            </div>

            <div class="usersAll">
                <h1>Online Users:</h1>
                <ul class="users">
                </ul>
            </div>
        </div>

        <div class="newmessages">
            <input type="text" class="newmessage" placeholder="Type Here">
        </div>

    </div>
</body>

</html>